* {
    font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.bold {
    font-weight: bold;
}

.center {
    margin: 0rem 4rem;
}

#texto-unidad-dos {
    width: 500px;
    height: 400px;
}

#size-image-unidaddos {
    background-image: url("img/unidaddos.jpeg");
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    margin: 9rem 0rem 0rem 36rem;
}

li {
    width: 4rem;
    height: 2rem;
    margin: 0rem 2.5rem;
}

.menu li:hover > ul {
    display: block;
}

.posicion-fija {
    position: fixed;
    top: 0;
    width: 100vw;
}

#size-image {
    background-image: url("./img/Fondo.jpg");
    height: 520px;
    width: 700px;
    background-size: cover;
    margin: 6rem 2rem 2rem 2rem;
    padding: 0rem 2rem 0rem 2rem;
    border-radius: 10px 10px 10px 10px;
}

#image-unidad-dos {
    width: 28rem;
    height: 28rem;
    margin-top: -20rem;
    background-repeat: no-repeat;
    margin-left: 46rem;
    border-radius: 10px 10px 10px 10px;
}

.centrar-texto {
    height: 500px;
    width: 900px;
    padding: 7rem;
    margin-left: 20rem;
}
.centrar-video {
    margin: 2rem 12rem 2rem 12rem;
}
.size-parrafo {
    margin: 3rem 0rem 1.5rem;
    font-size: 20px;
    font-weight: bold;
    color: #5ABAB6;

}

.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    /*pointer-events: none;*/  
  }

.observacionCientifica {
    height: 600px;
    width: 1100px;
    margin: 3rem 3rem 5rem 4rem;
    border-radius: 10px 10px 10px 10px;
    background-repeat: no-repeat;
}

.carousel-inner > .carousel-item .im1 {
    background: url("img/pelicula.jpg");
}

.carousel-inner > .carousel-item.im2 {
    background: url("img/carrusel1.jpg");
}

.carousel-inner > .carousel-item.im3 {
    background: url("img/carrusel2.jpg");
}
.carousel-inner > .carousel-item .img-size {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 20em;
    height: 20em;
} 
.carousel-inner {
    display: grid;
    justify-content: center;
}
.color-nabvar {
    background: #CD4188;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }

#logo {
    width: 8rem;
    height: 4rem;
    margin-left: 65rem;
}